@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 !important;
}

nav{
    max-width: 100%;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    position: fixed;
    z-index: 1;
    gap: 700px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 0;
}



.Logo{
    width: 100px;
}

.navul{
    display: flex;
    gap: 70px;
    margin-top: 30px;
    margin-left: 190px;
} 

.navul li a {
    position: relative;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -3px;
    background-color: #FFB825;
    transition: width 0.3s ease;
}

.navul li a:hover {
    color: #FFB825;
}


li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;
    font-family: 'Outfit';
    transition: width 0.3s ease;
}




.navli:hover {
    color: #FFB825;
}

.navli:hover::after {
    width: 100%;
}

.signup{
    background-color: #FFB825;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0;
    height: 30px;
}

.li{
    padding: 4px 10px;
    text-decoration: underline;
}

