@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;    
}

.signup-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  overflow: hidden;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.signup-left {
  display: flex;
}

.signup-form {
  text-align: center;
}

.logo {
  width: 155px;
  height: 100px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 23px;
  margin-bottom: 20px;
}

label {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
}

.input-field {
  width: 280px;
  height: 40px;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 20px;
  border: none;
  margin-top: 5px;
  outline: none;
}

.submit-btn {
  width: 280px;
  height: 35px;
  background: #d7c970;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 600;
}

.google {
  width: 80px;
  margin-top: 10px;
}

.login-note {
  margin-top: 10px;
  font-size: 14px;
}

.login-note a {
  text-decoration: underline;
  color: #000;
}

.signup-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.signup-right img {
  width: 120px;
}